#header{
  font-family: 'Times New Roman', Times, serif;
  color:magenta;
}
/* h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: red;
} */
img{
  max-width: 15%;
}

.main{
  /* margin: auto; */
  /* text-align: center */
}